.table {
    max-height: 100vh;
    display: block;
    overflow: auto;
    width: 100%;
    border-collapse: collapse;
}

thead th {
    font-size: 20px;
    color: black;
    border-top: 1px solid grey;
    border-bottom: 2px solid grey;
}

tr {
    border-bottom: 1px solid grey;
    padding: 4px 8px;
    margin: 0 auto;
}

th {
    border-right: 1px solid grey;
    padding: 4px 8px;
    color: #3b3a3a;
}

tr:hover {
    background: #eeeeee;
}
th:hover {
    background: #d2d2d2;
    color: black;
}

.content {
    width: 100%;
    height: 99%;
    display: flex;
    flex-direction: column;
}

.content__country {
    height: 64px;
    width: 128px;
    line-height: 64px;
    text-align: center;
    font-size: 28px;
}
